{% extends "template_site.html" %}

{% block content %}

    <section class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="well col-xl-6 col-lg-8 col-md-8 ins3">
                            {{ texto.1 | raw }}
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-4 col-no-gutter">
                            <div class="image-wrapper well1 bg-image bg-image-1 offs-negative-1">
                            </div>
                        </div>
                        <div class="col-lg-12 well2 bg-image bg-image-2 bg-fixed text-center">
                            <p class="lead maw-width">
                               {{ texto.2 | raw }}
                            </p>
                        </div>
                        <div class="well col-lg-12 ins3">
                            {{ texto.3 | raw }}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 well4 parallax ins3 center991" data-url="images/home/foto2.jpg" data-mobile="true" data-speed="0.5" style="padding-bottom: 243px">
                            {{ texto.4 | raw }}
                        </div>
                        <div class="well5 col-lg-12  bg-image bg-image-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="well6 bg-image bg-image-9 bg-fixed center991">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-6">
                    {{ texto.5 | raw }}
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 min-height-2 bg-image bg-image-5"></div>

                <div class="col-lg-8 col-md-12 min-height-2 bg-image bg-image-6">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 center991 well9 ins3">
                            {{ texto.6 | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-4 col-xs-12 text-center left-xl well10 ins-xl ins3">
                    {{ texto.7 | raw }}
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-4 col-sm-6 col-no-gutter">
                    <!-- <a class="thumb" href="images/home/foto8.jpg" data-gallery="1"> -->
                    <span class="thumb" data-gallery="1">
                        <img src="images/home/foto8.jpg" alt=""/>
                        <span class="thumb_overlay"></span>
                    </span>
                </div>
                <div class="col-xl-6 col-lg-4 col-sm-6 col-no-gutter">
                    <!-- <a class="thumb" href="images/home/foto9.jpg" data-gallery="1"> -->
                    <span class="thumb" data-gallery="1">
                        <img src="images/home/foto9.jpg" alt=""/>
                        <span class="thumb_overlay"></span>
                    </span>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
