<footer>    
    <section class="well11 center991">
        <div class="container-fluid">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="list">
                    <li><a href="http://instagram.com/shirleydantasoficial" target="_blank">Instagram</a></li>
                    <li><a href="http://facebook.com/lojayasminfashion" target="_blank">Facebook</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="navbar-header">
                    <h1 class="navbar-brand">
                        <a href="./">Shirley Dantas</a>
                        <small>FASHION & DESING</small>
                    </h1>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 ins6" align="center">
                <h6>Newsletter</h6>
                <div class="form-group div-newsletter">
                	<input type="text" name="email" id="email_newsletter" placeholder="Seu e-mail"  required="required"/>
                	<button class='btn-default act-newsletter'>Enviar</button>
                </div>
            </div>

        </div>
    </section>

    <section class="well12">
        <div class="container-fluid text-center">
            <p class="rights">
                Shirley Dantas&#169; <span id="copyright-year"></span>
                <a href="javascript:;">Política de privacidade</a>
            </p>
        </div>
    </section>
</footer>
