<header class="">
	<div id="stuck_container" class="stuck_container">
		<div class="container-fluid">
			<!-- Menu -->
			<nav class="navbar navbar-default navbar-static-top ">
				<ul class="navbar-nav sf-menu " data-type="navbar">
					<li class="{$ativo1}"><a href="./">Home</a></li>
					<li class="{$ativo3}"><a href="./galeria">Galeria</a></li>
					<!-- <li class="{$ativo4}"><a href="./representante">Onde encontrar</a></li> -->
				</ul>
			</nav>
		</div>
	</div>

	<section class="ins2">
		<div class="container">
			<div class="navbar-header">
				<div>
					<img src="images/logo2.png" width="20%" />
				</div>
				<h1 class="navbar-brand hidden-xs">
					<a href="./" style="font-size: 80px">Shirley Dantas</a>
					<small>{{ msgTopo }}</small>
				</h1>
				<h1 class="navbar-brand visible-xs">
					<a href="./" style="font-size: 50px">Shirley Dantas</a>
					<small>{{ msgTopo }}</small>
				</h1>
			</div>
		</div>
	</section>
</header>
