{% extends "template_admin.html" %}

{% block content %}
	<!-- REPRESENTANTES -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default panel-table">
					<div class="panel-heading">
						<div class="row">
							<div class="col col-xs-6">
								<h3 class="panel-title"><label>GERÊNCIAR REPRESENTANTES</label></h3>
							</div>
							<div class="col col-xs-6 text-right">
								<button type="button" class="btn btn-sm btn-primary btn-create act-abrir-novo">Novo</button>
							</div>
						</div>
					</div>
					<div class="panel-body">

						{% if msg is not null %}
							<div class="alert {{ class }} alerta-msg" align="center"><b>{{ msg }}</b></div>
						{% endif %}

						<table class="table table-striped table-bordered table-list">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Cidade</th>
									<th>Status</th>
									<th>Ações</th>
								</tr>
							</thead>
							<tbody>
								{% for valor in arrDados %}
									<tr>
										<td>{{ valor.nome }}</td>
										<td>{{ valor.cidade }}</td>
										<td>
											{% if valor.status == 1 %}
												<span class='text-success status'>Ativo</span>
											{% else %}
												<span class='text-danger status'>Inativo</span>
											{% endif %}
										</td>
										<td>
											<button class='btn btn-primary act-abrir-editar' data-id="{{ valor.id }}"><span class='glyphicon glyphicon-pencil'></span></button>
											<button class='btn btn-danger act-excluir-representante' data-id="{{ valor.id }}"><span class='glyphicon glyphicon-remove'></span></button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col col-xs-4">Página {{ pg }} de {{ totalPg }}</div>
							<div class="col col-xs-8">
								<ul class="pagination hidden-xs pull-right">
									{% for i in 1..totalPg %}
										{% if pg == i %}
											<li class='active'><a href="/admin/galeria/{{ i }}">{{ i }}</a></li>
										{% else %}
											<li><a href="/admin/galeria/{$i}">{{ i }}</a></li>
										{% endif %}
									{% endfor %}
								</ul>								
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- MODAL NOVO -->
	<div class="modal fade" id='modal_novo_representante'>
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <form action="/admin/representante/create" method="post" name="form-novo" enctype="multipart/form-data">
		            <div class="modal-header" style="background-color: #eee">
		            	<label>Editar Conteúdo</label>
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		            </div>
		            <div class="modal-body">
		            	<div class="img-carregando hide" align="center"><img src="/images/carregando.gif" /></div>
		            	<p><input type="text" class="form-control" name="nomeC" placeholder='Nome' required="required" /></p>
		            	<p><input type="text" class="form-control" name="cidadeC" placeholder="Cidade" required="required" /></p>
					</div>
		            <div class="modal-footer" style="background-color: #eee" >
		                <button type="submit" class="btn btn-success btn_salvar" name='btn_salvar' value="1">Salvar e Publicar</button>
		                <button type="submit" class="btn btn-warning btn_salvar" name='btn_salvar' value="0">Salvar e Não Publicar</button>
		                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
		            </div>
	            </form>
	        </div>
	    </div>
	</div>

	<!-- MODAL EDITAR -->
	<div class="modal fade" id='modal_editar_representante'>
	    <div class="modal-dialog">
	        <div class="modal-content">
	             <form action="/admin/representante/update" method="post" name="form-novo" enctype="multipart/form-data">
		            <div class="modal-header" style="background-color: #eee">
		            	<label>Editar Conteúdo</label>
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		            </div>
		            <div class="modal-body">
		            	<div class="img-carregando hide" align="center"><img src="/images/carregando.gif" /></div>
		            	<p><input type="text" class="form-control" name="nomeE" placeholder='Nome' required="required" /></p>
		            	<p><input type="text" class="form-control" name="cidadeE" placeholder="Cidade" required="required" /></p>
		            	<input type="hidden" name="id" value='' />
					</div>
		            <div class="modal-footer" style="background-color: #eee" >
		                <button type="submit" class="btn btn-success btn_salvar" name='btn_salvar_editar' value="1">Salvar e Publicar</button>
		                <button type="submit" class="btn btn-warning btn_salvar" name='btn_salvar_editar' value="0">Salvar e Não Publicar</button>
		                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
		            </div>
	            </form>
	        </div>
	    </div>
	</div>

	<script src="/js/admin/representanteAdm.js"></script>
{% endblock %}
